<div class="footer_new1">

    <div class="container" >
        <div class="footer_new1_container">
            <div class="footer_new1_left">


                <ul class="footer_ol">
                    <li class="footer_ol_first_li">
                        产品系列
                    </li>


                    <li class="footer_ol_li">鲍鱼粽</li>
                    <li class="footer_ol_li">长形纯碱粽</li>
                    <li class="footer_ol_li">叉烧蛋黄粽</li>
                    <li class="footer_ol_li">传统粽</li>
                    <li class="footer_ol_li">蛋黄粽</li>


                </ul>
                <ul class="footer_ol">
                    <li class="footer_ol_first_li">
                        &nbsp;
                    </li>
                    <li class="footer_ol_li">豆沙碱水粽</li>
                    <li class="footer_ol_li">美味咸肉粽</li>
                    <li class="footer_ol_li">五谷粽</li>
                    <li class="footer_ol_li">西米粽</li>
                </ul>
                <ul class="footer_ol">
                    <li class="footer_ol_first_li">
                        公司信息
                    </li>
                    <li class="footer_ol_li">公司简介</li>
                    <li class="footer_ol_li">公司荣誉</li>
                    <li class="footer_ol_li">经营理念</li>
                    <li class="footer_ol_li">营销网络</li>
                </ul>



            </div>
            <div class="footer_new1_center">
                <img src="/css/images/footer_logo.png">
            </div>
            <div class="footer_new1_right">
                <ul class="footer_ol">
                    <li class="footer_ol_first_li">
                        新闻信息
                    </li>
                    <li class="footer_ol_li">新闻动态</li>
                    <li class="footer_ol_li">最新动态</li>
                    <li class="footer_ol_li">相关知识</li>
                </ul>
                <ul class="footer_ol">
                    <li class="footer_ol_first_li">
                        门店展示
                    </li>
                    <li class="footer_ol_li">优惠待遇</li>
                    <li class="footer_ol_li">公司支持</li>
                    <li class="footer_ol_li">加盟条件</li>
                    <li class="footer_ol_li">加盟费用</li>
                </ul>
                <ul class="footer_ol">
                    <li class="footer_ol_first_li">
                        客服服务
                    </li>
                    <li class="footer_ol_li">服务宗旨</li>
                    <li class="footer_ol_li">服务理念</li>
                    <li class="footer_ol_li">给我留言</li>
                    <li class="footer_ol_li">联系方式</li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="footer_new2">

    <div class="container" >
        <div class="footer_new2_left">
            <p>@肇庆市鼎湖华记裹蒸食品有限公司</p>
            <p>All Rights Reserved</p>
        </div>
        <div class="footer_new2_right">
            <img src="/css/images/footer_new2_jingying.png">
            <img src="/css/images/footer_new2_kexin.png">
            <img src="/css/images/footer_new2_monitor.png">
        </div>
    </div>

</div>


