<aside id="sidebar">

    <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>



    <div class="widgets-container">

        <% if (theme.widgets) { %>
            <% theme.widgets.forEach(function(widget) { %>

                <%if(page.category!="产品系列" && page.category!="大米类" && page.category!="月饼类" && page.category!="粽子类" && page.category!="糕点类" && widget=="recent_posts"
        && page.category!="鲍鱼粽" && page.category!="长形纯碱粽" && page.category!="叉烧蛋黄粽" && page.category!="传统粽" && page.category!="蛋黄粽" && page.category!="豆沙碱水粽" && page.category!="黑米粽" && page.category!="花生瑶柱粽"
                && page.category!="美味咸肉粽" && page.category!="五谷粽" && page.category!="西米粽" ){%>
                    <%- partial('widget/' + widget+"_news_style") %>
                <%}else{%>
                    <%- partial('widget/' + widget) %>
                <%}%>
            <% }) %>
        <% } %>
    </div>
</aside>